<!DOCTYPE HTML>
<html>
  <header>

  </header>
  <body>

<h1>Pirate Info</h1>
<ul>
  <li>
Pirate Name: <%= @pirate.name %>
</li>
<li>
  Pirate Height: <%= @pirate.height %>
</li>
<li>
  Pirate Weight: <%= @pirate.weight %>
</li>


<h2>Ship Info </h2>
<% @ships.each do |ship| %>
<ul>
   <li>Name:
     <%= ship.name %>
   </li>
   <li>Type:
     <%= ship.type %>
   </li>
   <li>Booty:
    <%= ship.booty %>
   </li>
</ul>
<% end %>

</body>
</html>
